* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*:focus, *:active {
	outline: none !important;
}

.progress {
	height: 38px;
}

.button-wrap {
	display: inline-block;
	pointer-events: auto;
}

button[disabled],
button:disabled {
	pointer-events: none;
}

.progress-bar {
	width: 100%;
	animation-name: progress;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.progress-bar.active {
	width: 100%;
}

.body-bloc {
	width: 100%;
}

.icon {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.loss-exch {
	color: #e74c3c;
}

.win-exch {
	color: #2ecc71;
}

@keyframes progress {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}
